
body {
  font-family: 'Abel', sans-serif;
  font-size: 14pt;
  background-color: #fff;
}

.logo { 
  background: url("/static/gruppz-bg-dark.png") no-repeat; 
  position: relative;
  left: 10px;
  display: block; 
  width: 140px;
  text-indent: -9999px;
  margin-top: 5px;
  height: 60px;
}

ul#sidebar li a { font-size: 12pt; }
ul#sidebar li a:hover { background-color: #ccc; }
ul#sidebar li.active a { 
  background-color: #fff; 
  border-right: 5px solid #333;
}

.navbar { background-color: #333; height: 60px; }
.container-fluid { margin-top: 20px; }