
body {
  font-family: 'Abel', sans-serif;
  font-size: 14pt;
  background-color: #fff;
}

.logo { 
  background: url("/static/gruppz-bg-dark.png") no-repeat; 
  position: relative;
  left: 10px;
  display: block; 
  width: 140px;
  text-indent: -9999px;
  margin: 1px;
}

