
body {
	background-color: #fff;
	color: #222;
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
	margin: 0;
	padding: 0;
}

.dialog {
	margin: 100px 0 50px 0;
	background-color: white;
}

.dialog label { color: #666; }

.bg-grey { background-color: #F2F2F2; }